.container {
  margin-bottom: 24px;
}

.label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.2s;
}

.input:focus {
  border-color: #6c63ff;
  background-color: #f4f4ff;
  outline: none;
}
